@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: black;
}

.logo{
  width: 100%;
  height: 80px;
}

.link-item{
  color: azure;}

#navtickets{
  background-color: black;
}

#compra{
	font-family: "Montserrat";
	text-align: center;
    letter-spacing: 1px;   
}

#contacT{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1.comprar, h1.TitleTickets {
	text-transform: uppercase;
	font-size: 64px;
	line-height: .75;
	margin: 10px 0;
  position: relative;
}


  .comprar, h1.TitleTickets {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  h1.TitleTickets,.comprar a {
    color: #ff147a;
  }

  h1.TitleTickets, h1.comprar:nth-child(1) a:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }


  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
    }
  }


@media (max-width: 650px) {
    #Compra {
      width: 100%;
    }
  }
  

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
      background-color: #FF1177;
      border-color: #f58df0;
  }

  #procesar-pedido{
    background-color: #11ff74;
      border-color: #8df5ca;
  }